<% provide(:title, "Home") %>
<div class="center well">
  <h1>Welcome to the</h1>

  <h1>Software Testing Demo App</h1>
  <br>
  <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
